* {
  bg0     : #17153B;
  bg1     : #FFF1DB;
  bg2     : #D4BDAC;
  bg3     : #536493;
  fg0     : #FEF3E2;
  fg1     : #40534C;
  fg2     : #677D6A;
  fg3     : #D6BD98;
  red     : #f7768e;
  green   : #9ece6a;
  yellow  : #e0af68;
  blue    : #7aa2f7;
  magenta : #9a7ecc;
  cyan    : #4abaaf;

  background-color : @bg0;
  text-color       : @fg0;

  margin  : 0;
  padding : 0;
  spacing : 0;
}


configuration {
  show-icons:       true;
  icon-theme:       "Papirus";
  cycle:            true;
  disable-history:  false;
  monitor:          "-4";
  modi:             "drun,window,filebrowser,calc";
  display-drun:     "apps";
  no-show-match:    true;      
}


window {
  location: center;
  width:  650px;
  height: 250px;
  border: 0px;
  
  background-color: @bg0;
}


inputbar {
  spacing: -1px;
  children: [icon-search, entry];
  text-color:      @fg0; 
}

listview {
  columns: 1;
  scrollbar: false;
  border: 0px;
}

textbox {
  padding   : 4px 8px;
  background-color: @bg2;
}


element {
  padding : 0px 0px;
  spacing : 0px;
}

element-icon {
  size: 1em;        
}

element-text {
  text-color: @fg1;
}
