/* Waybar CSS file */
/* Made by ValentinMENDIss (github) */


/* color palette: catpuccin macchiato */
/*@define-color backgroundcolor #24273a;*/
/*@define-color overlaycolor #6e738d;*/
/*@define-color textcolor #cad3f5;*/

/* color palette: gruv-box */
@define-color backgroundcolor #1a1a1a;
@define-color overlaycolor #282828;
@define-color textcolor #e6e6e6;


* {
        font-family: iosevka nerd font;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        padding-top: 0px;
        padding-bottom: 1px;
}

window#waybar {
        background: alpha(@backgroundcolor,0.2);
}

#workspaces, 
#tray,
#window,
#pulseaudio,
#battery,
#clock,
#language,
#network,
#custom-wlogout
{
        color: @textcolor;
        background: @overlaycolor;

        margin-top: 5px;
        margin-left: 7.5px;
        margin-right: 7.5px;
        margin-bottom: 5px;

        padding-right: 12.5px;
        padding-left: 12.5px;
}

#workspaces {

}

#workspaces button {
        all:initial;
        min-width: 0;
        padding: 2px 8px;
        transition: all 0.15s ease-out;
}

#workspaces button.active {
        background: #6e738d;
        border-radius: 3px;
        min-width: 15px;
        transition: all 0.15s ease-out;
        
}

#workspaces button:hover {
        color: #cad3f5; 
        transition: all 0.15s ease-out;
}

#tray {
        color: #cad3f5;
}

#window {
}

#pulseaudio {
}

#battery:hover {
        color: #cad3f5;
        transition: all 0.15s ease-out;
}

#clock:hover {
        color: #cad3f5;
        transition: all 0.15s ease-out;
}

#language {
}

#network:hover {
        color: #cad3f5;
        transition: all 0.15s ease-out;
}

#custom-wlogout:hover {
        color: #cad3f5;
        transition: all 0.15s ease-out;
}
