/* Waybar CSS file */
/* Made by ValentinMENDIss (github) */


/* color palette: catpuccin macchiato */
/*@define-color backgroundcolor #24273a;*/
/*@define-color overlaycolor #6e738d;*/
/*@define-color textcolor #cad3f5;*/

/* color palette: gruv-box */
@define-color backgroundcolor #1a1a1a;
@define-color overlaycolor #282828;
@define-color textcolor #e6e6e6;


* {
        font-family: iosevka nerd font;
        font-size: 14px;
        border: 0px;
        border-radius: 5px;
        padding-top: 0px;
        padding-bottom: 1px;
}

window#waybar {
        background: alpha(@backgroundcolor,0.2);

}

#workspaces, 
#tray,
#window,
#pulseaudio,
#battery,
#clock,
#language,
#network,
#custom-wlogout
{
        color: @textcolor;
        background: @overlaycolor;

        margin-top: 5px;
        margin-left: 7.5px;
        margin-right: 7.5px;
        margin-bottom: 5px;

        padding-right: 12.5px;
        padding-left: 12.5px;
}

#workspaces {

}

#workspaces button {
        all:initial;
        min-width: 0;
        padding: 2px 4px;
        color: @textcolor;
}


#workspaces button.focused {
        /*color: #ddc7a1;*/
}

#tray {

}

#window {

}

#pulseaudio {

}

#battery {

}

#clock {

}

#language {

}

#network {

}

#custom-wlogout {

}
